.wrapper {
	padding: 6rem 0 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media only screen and (max-width: 800px) {
		padding: 3rem 0;
	}

	> p {
		color: #6b6b6b;
	}
}

.iconsWrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 2rem;
	width: 380px;
	min-width: 26px;

	> a {
		display: inline-flex;
		font-size: 3rem;
		text-decoration: none;
		width: 72px;
		height: 72px;
		transition: 0.5s linear;
		position: relative;
		z-index: 1;

		> svg {
			height: 26px;
			margin: auto;
			transition: 0.5s linear;
			@media only screen and (max-width: 800px) {
				height: 30px;
			}
		}
	}

	> a:hover {
		> svg {
			> path {
				fill: #ffffff;
			}
		}
	}

	@media only screen and (max-width: 800px) {
		width: 280px;
	}
}

.iconLinkContainer {
	display: inline-flex;
	font-size: 3rem;
	text-decoration: none;
	width: 4.3rem;
	height: 4.3rem;
	transition: 0.5s linear;
	position: relative;
	z-index: 1;

	&:hover {
		> svg {
			> path {
				fill: #ffffff;
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 72px;
		height: 72px;
		background: #000;
		border-radius: 50%;
		z-index: -1;
		transform: scale(0);
		transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
	}

	&:hover::before {
		transform: scale(1);
	}

	&:nth-child(1):hover:before {
		/* github */
		background-color: #000000;
	}

	&:nth-child(2):hover:before {
		/* instagram */
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
	}

	&:nth-child(3):hover:before {
		/* linkedin */
		background-color: #0077b5;
	}

	&:nth-child(4):hover:before {
		/* codepen */
		background-color: #000000;
	}
}
