.photographyWrapper {
	margin: 0 auto;
	max-width: 1200px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;

	@media only screen and (max-width: 1200px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 960px) {
		grid-template-columns: 1fr;
	}

	span {
		width: 100%;
		aspect-ratio: 1/1;
		img {
			object-fit: cover;

			&:hover {
				object-fit: contain;
			}
		}
	}
}
