.wrapper {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: #202020;
	z-index: 4;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	animation: loader-slide-out 0.5s 0.3s cubic-bezier(1, 0, 0, 1) forwards;

	> svg {
		height: 120px;
	}

	@keyframes loader-slide-out {
		0% {
			transform: translateX(0);
			opacity: 1;
		}

		99% {
			transform: translateX(99vw);
			opacity: 0.99;
		}

		100% {
			transform: translateX(100vw);
			display: 0;
		}
	}
}
